bin/
obj/
packages/plugin/node_modules/
packages/plugin/dist/
web/*/node_modules/
web/*/dist/
web/*/*.tsbuildinfo
docs/.vitepress/dist/
docs/.vitepress/cache/
docs/.npm-cache/
docs/node_modules/
.idea/
.vscode/
!.vscode/
.vscode/*
!.vscode/settings.json
TestResults/
*.env
*.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.user
