bin/
obj/
plugin/node_modules/
plugin/dist/
web/*/node_modules/
web/*/dist/
web/*/*.tsbuildinfo
.idea/
.vscode/
TestResults/
*.env
*.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.user
